<% provide(:title, 'My animes') %>
<h1>My animes</h1>

<ul class="animes">
  <% @anime_list.each do |anime| %>
	<li>
	  <%= link_to anime.name, anime %>
	  <% if !current_user.nil? %>
	    | <%= link_to "delete", anime, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	  <% end %>
	</li>
	  <% end %>
</ul>
