<% provide(:title, @anime.name) %>

<ul class="anime">
    <h2>
      <%= @anime.name %>
    </h2>
        <li>Score:
      <%= @anime.score %>
    </li>
        <li>Progress:
      <%= @anime.progress %>
    </li>
</ul>

<%= link_to "Delete", delete_path, method: "delete" %>
